.userCard {
  height: 100% !important;
  padding-top: 10px!important;
}
.userCardMedia {
  cursor: pointer;
}

.cardMedia {
  border-radius: 50%;
  height: 75px;
  width: 75px;
  margin: auto;
}

.userCardMediaDetail {
  height: 150px;
  width: 150px;
}

.userCardContent {
  padding: 0px;
}